<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>가막못 :: Throw Everything</title>
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css"/>
</head>
<body>
    <div class="alert alert-warning text-center">
        이상한거 던지지 말아요 가막못 썩어 들어감 ㅇㅇ<br/>
        다음에 또 이상한거 던졌다가 보이면 그냥 서비스 내림<br/>
        현재 가막못 상태: 오염도↓, 물맛 이상, 김연준
    </div>
    <div class="container">
        <h2 class="text-center">
            가막못 :: Throw Everything<br/>
            <small>
                여러분이 <abbr title="김연준">던진 것</abbr>들은 가막못 아래에서 찾을 수 있습니다!
            </small>
        </h2>
        <form action="{% url 'throw_register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="what" class="sr-only">무엇을 던질건가요?</label>
                <input type="text" id="what" name="what" class="form-control" placeholder="무엇을 던질건가요? (여기를 클릭하고 입력, 제발 이상한거 던지지 마세요 다음에는 서비스 내림)"/>
            </div>
            <button type="submit" class="btn btn-primary btn-block">던지자! / 제발 이상한거 던지지 마세요 다음에는 서비스 내림</button>
        </form>
        <hr/>
        <hr/>
        <h4 class="text-center">
            다른 사람들은 뭘 던졌을까?<!-- 김연준을 던졌겠지 --><br/>
            <small>가막못 속 {{ item_count }}개 중 최근 10개</small>
        </h4>
        <table class="table table-hover">
            {% for throw in throw_list %}
                {% if throw.what != '' %}
                    <tr>
                        <td class="text-center">{{ throw.what }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <div class="text-center">
            <small>
                Coded by crmin / 제작자가 응선대 와일리를 던질 심정으로 만든 서비스입니다<br/>
                아... 아무것도 하기 싫다...
            </small>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>